<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/pictures/index.css">
    <title>My Website</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo"><img src="https://thumbs.dreamstime.com/b/luxury-music-logo-design-golden-shiny-musical-emblem-vector-illustration-luxury-music-logo-design-golden-shiny-musical-emblem-111618781.jpg" style="width: 50px; height: 50px; border-radius: 50%;" alt=""></div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="admin_login">Admin</a></li>
            <li><a href="band_login">Band</a></li>
            <li><a href="user_login">User</a></li>
        </ul>
    </nav>
</body>
</html>