{% include 'uhead.html' %}
<div class="row space-between mt-20">

        <div class="w-23 card-subcription">
            <div class="mt-10"><h3>1 month Subscription</h3></div>
            <div class="mt-10"><h3>$10</h3></div>
            <div class="mt-10">
                <a href="purchase?days=30&package_name=one month&price=10" class="link-subscription mt-10">Purchase</a>
            </div>
        </div>
        <div class="w-23 card-subcription">
            <div class="mt-10"><h3>3 month Subscription</h3></div>
            <div class="mt-10"><h3>$25</h3></div>
            <div class="mt-10">
                <a href="purchase?days=60&package_name=three month&price=25" class="link-subscription mt-10">Purchase</a>
            </div>
        </div>
        <div class="w-23 card-subcription">
            <div class="mt-10"><h3>6 month Subscription</h3></div>
            <div class="mt-10"><h3>$50</h3></div>
            <div class="mt-10">
                <a href="purchase?days=180&package_name=six month&price=50" class="link-subscription mt-10">Purchase</a>
            </div>
        </div>
        <div class="w-23 card-subcription">
            <div class="mt-10"><h3>1year Subscription</h3></div>
            <div class="mt-10"><h3>$100</h3></div>
            <div class="mt-10">
                <a href="purchase?days=360&package_name=one year&price=100" class="link-subscription mt-10">Purchase</a>
            </div>
        </div>
</div>